@model List<ZapateriaMVC.Models.Zapatos>
@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Share/MasterFrontend.cshtml";
}

@{
    string Titulo = "";
    switch ((int)ViewBag.Categoria)
    {
        case 1:
            Titulo = "Hombres";
            break;
        case 2:
            Titulo = "Mujeres";
            break;
    }
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="/">Inicio</a></span> / <span>@Titulo</span></p>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs-two">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs-img" style="background-image: url(/images/cover-img-1.jpg);">
                  
                    <h2>@Titulo</h2>
                </div>
                <div class="menu text-center">
                    <p style="color:white;">Los mejores zapatos de la región</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>Todos los Zapatos</h2>
            </div>
        </div>
        <div class="row row-pb-md">
            @{
               
                int i = 0;
                foreach (var item in Model)
                {
                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="/Home/Zapato/@item.Id" class="prod-img">
                                <img src="data:image/png;base64,@Convert.ToBase64String(item.Foto)" class="img-fluid" alt="@item.Nombre">
                            </a>
                            <div class="desc">
                                <h2><a href="/Home/Zapato/@item.Id">@item.Nombre</a></h2>
                                <span class="price">$@item.Precio.ToString("###.00")</span>
                            </div>
                        </div>
                    </div>
                    if (i % 4 == 0 && i != 0)
                    {
                        <div class="w-100"></div>
                    }
                }
            }
        </div>
    </div>
</div>
