
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/MasterFrontend.cshtml";
}
<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(images/img_bg_1.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1 class="head-1">Colección</h1>
                                    <h2 class="head-2">para</h2>
                                    <h2 class="head-3">hombres</h2>
                                    <p class="category"><span>Nuevos Zapatos</span></p>
                                    <p><a href="#" class="btn btn-primary">Ver Zapatos</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/img_bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1 class="head-1">Descuento</h1>
                                    <h2 class="head-2">en zapatos de mujer</h2>
                                    <h2 class="head-3"><strong class="font-weight-bold">50%</strong> menos</h2>
                                    <p class="category"><span>Gran venta de verano</span></p>
                                    <p><a href="#" class="btn btn-primary">Ver Zapatos</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/img_bg_3.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1 class="head-1">Nueva</h1>
                                    <h2 class="head-2">Colección</h2>
                                    <h2 class="head-3">de <strong class="font-weight-bold">Verano</strong></h2>
                                    <p class="category"><span>Lo ultimo en moda</span></p>
                                    <p><a href="#" class="btn btn-primary">Ver Zapatos</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div class="colorlib-intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="intro">¡Tu zapateria de confianza!</h2>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="featured">
                    <a href="#" class="featured-img" style="background-image: url(images/men.jpg);"></a>
                    <div class="desc">
                        <h2><a href="#">Para hombres</a></h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="featured">
                    <a href="#" class="featured-img" style="background-image: url(images/women.jpg);"></a>
                    <div class="desc">
                        <h2><a href="#">Para mujeres</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                <h2>Nuestros productos</h2>
            </div>
        </div>
        <div class="row row-pb-md">
            @{
                ZapateriaMVC.Models.ZapatosDAL Zapatos = new ZapateriaMVC.Models.ZapatosDAL();
                var listaZapatos = Zapatos.ListarZapatos();
                int i = 0;
                foreach (var item in listaZapatos)
                {
                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="/Home/Zapato/@item.Id" class="prod-img">
                                <img src="data:image/png;base64,@Convert.ToBase64String(item.Foto)" class="img-fluid" alt="@item.Nombre">
                            </a>
                            <div class="desc">
                                <h2><a href="/Home/Zapato/@item.Id">@item.Nombre</a></h2>
                                <span class="price">$@item.Precio.ToString("###.00")</span>
                            </div>
                        </div>
                    </div>
                    if (i % 4 == 0 && i !=0)
                    {
                        <div class="w-100"></div>
                    }
                }
            }

        </div>
    </div>
</div>

<div class="colorlib-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>Nuestros proveedores</h2>
            </div>
        </div>
        <div class="row">
            <div class="col partner-col text-center">
                <a href="https://www.adidas.mx/" target="_blank">
                    <img src="images/brand-1.jpg" class="img-fluid" alt="Adidas">
                </a>
            </div>
            <div class="col partner-col text-center">
                <a href="https://www.nike.com/mx/" target="_blank">
                    <img src="images/brand-2.jpg" class="img-fluid" alt="Nike">
                </a>
            </div>
            <div class="col partner-col text-center">
                <a href="https://www.gucci.com/int/en/" target="_blank">
                    <img src="images/brand-3.jpg" class="img-fluid" alt="Gucci">
                </a>
            </div>
            <div class="col partner-col text-center">
                <a href="https://merrell.com.mx/" target="_blank">
                    <img src="images/brand-4.jpg" class="img-fluid" alt="Merrell">
                </a>
            </div>
            <div class="col partner-col text-center">
                <a href="https://es-us.puma.com/" target="_blank">
                    <img src="images/brand-5.jpg" class="img-fluid" alt="Puma">
                </a>
            </div>
        </div>
    </div>
</div>