
@{
    ViewBag.Title = "Mision";
    Layout = "~/Views/Share/MasterFrontend.cshtml";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">
                    Mision
                </h2>
                <div class="row">
                    <div class="col-md-12 text-center">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center" >
                        <p>
                            <span>Nuestra misión empresarial</span> <span>
                            es construir una relación de confianza con los clientes
                            que requieran elegancia y variedad en calzado formal e informal, marroquineria, indumentaria
                            y accesorios, para damas, hombres y niños de todas las edades, ofreciendo productos de calidad,
                            a precios justos, con las mejores condiciones de pago y excelente servicio de atención por parte de
                            sus dueños y empleados capacitados. todo ello nos permite seguir creciendo en el tiempo de manera
                            sostenida y reafirmar la permanencia de nuestra empresa familiar
                            centenaria en el mercado paranaense, generando un adecuado retorno de la inversión.
                            </span>
                        </p>
                        <div class="menu text-center">
                        <p style="color:deepskyblue;">Confia en los mejores zapatos de la región</p>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </div>

