
@{
    ViewBag.Title = "Mision";
    Layout = "~/Views/Share/MasterFrontend.cshtml";
}

<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-12 text-center">
            <h2>Mision</h2>
                        <div class="col-lg-12 col-xl-12 ">
                            <div class="row row-pb-md">
                                <div class="col-md-3 mb-4 text-center">
                                    <div class="product-entry border">
                                        <a class="prod-img">
                                            <img src="~/images/item-1.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-4 text-center">
                                    <div class="product-entry border">
                                        <a class="prod-img">
                                            <img src="~/images/item-2.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-4 text-center">
                                    <div class="product-entry border">
                                        <a class="prod-img">
                                            <img src="~/images/item-16.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-4 text-center">
                                    <div class="product-entry border">
                                        <a class="prod-img">
                                            <img src="~/images/item-5.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <div class="col-md-12 text-center">
            <h5>
                <span>Nuestra misión empresarial</span> <span>
                    es construir una relación de confianza con los clientes
                    que requieran elegancia y variedad en su calzado formal e informal, tanto para damas, 
                    hombres y niños de todas las edades, ofreciendo productos de calidad,
                    a precios justos, con las mejores precios y excelente servicio de atención por parte de
                    los empleados excelentemente capacitados. Todo ello nos permite seguir creciendo en el tiempo 
                    de manera sostenida y reafirmar la permanencia de nuestra empresa familiar,
                    generando un adecuado retorno de la inversión.
                </span>
            </h5>
    </div>
</div>