
@{
    ViewBag.Title = "Quienes";
    Layout = "~/Views/Share/MasterFrontend.cshtml";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center" ">
                <div class="page-header">
                    <h2>¿Quienes Somos?</h2>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="row">
                            <div class="col-md-2">
                                <img alt="Bootstrap Image Preview" width="150px" height="200px" src="../img/zapat2.jpg" class="rounded-circle" />
                            </div>
                            <div class="col-md-8">
                                <p>
                                    <span>
                                        Zapateria del Sur de Yucatán, es una empresa dedicada al diseño y fabricación de calzado para hombre, dama, calzado,
                                        con cálida y lo último en tendencia, novedad. Ofreciendo el mejor servicio y trato a nuestros clientes, ganando la confianza y aprobación de ellos, convirtiéndonos en una de las empresas de mayor prestigio, eficiencia, innovación y servicio, fundada en Mérida, Yucatán el 18 de Junio de 2019
                                    </span><span>.</span>
                                </p>

                                <div>
                                    <span>Nuestro enfoque es posicionarnos como una empresa líder en el mercado mexicano en cuanto a diseño de moda y ventas de lo último en tendencia como lo es el mercado de belleza, ropa, accesorios y todos sus derivados así también como líder en ventas por internet logrando alcanzar los mercados más emergentes y remotos de la república mexicana.</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <img alt="Bootstrap Image Preview" width="150px" height="200px" src="../img/zapato-salon-flores-.jpg" class="rounded-circle" />
                            </div>
                        </div>
                <div class="colorlib-intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h2 class="intro">¡Tu zapateria de confianza!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


