
@{
    ViewBag.Title = "Vision";
    Layout = "~/Views/Share/MasterFrontend.cshtml";
}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">
                    Vision
                </h2><div class="col-lg-12 col-xl-12 ">
                    <div class="row row-pb-md">
                        <div class="col-md-3 mb-4 text-center">
                            <div class="product-entry border">
                                <a class="prod-img">
                                    <img src="~/images/item-10.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4 text-center">
                            <div class="product-entry border">
                                <a class="prod-img">
                                    <img src="~/images/item-11.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4 text-center">
                            <div class="product-entry border">
                                <a class="prod-img">
                                    <img src="~/images/item-13.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4 text-center">
                            <div class="product-entry border">
                                <a class="prod-img">
                                    <img src="~/images/item-15.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <span>
                        Zapateria del Sur de Yucatán, será en el futuro una empresa familiar consolidada,
                        con personal profesionalizado y un proceso organizativo fortalecido y muy atento,
                        que comercializará en nuevos mercados a través de las actuales y nuevas sucursales
                        ubicadas estratégicamente, cumpliendo con la satisfacción del cliente y una política
                        de responsabilidad, respeto y cumplimiento hacia los proveedore, empleados y por supuersto
                        nuestros clientes.
                    </span>
                </p>
                <div class="menu text-center">
                    <p style="color:white;">Confia en los mejores zapatos de la región</p>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>