
@{
    ViewBag.Title = "Vision";
    Layout = "~/Views/Share/MasterFrontend.cshtml";
}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">
                    Vision
                </h2>
                <div class="row">
                    <div class="col-md-12 text-center">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>
                            <span>XZapateria del Sur de Yucatán, será en el futuro una empresa familiar consolidada, 
                            con personal profesionalizado y un proceso organizativo fortalecido y afianzado 
                            en todas las áreas, que comercializará en Paraná y en nuevos mercados a través de
                            las actuales y nuevas sucursales ubicadas estratégicamente, cumpliendo con la plena 
                            satisfacción del cliente y una política de responsabilidad, respeto y cumplimiento hacia 
                            los proveedores y empleados.
                            </span>
                        </p>
                        <div class="menu text-center">
                            <p style="color:white;">Confia en los mejores zapatos de la región</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>