
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/MasterAdmin.cshtml";
}

<section class="content-header">
    <h1>
        Dashboard
        <small>Panel de control</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<h2>Bienvenido</h2>

